* { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

html, body { height: 100%; }

.sp { width: 100%; }

.first .user_wrap { width: 100%; }

.second .user_wrap { width: 100%; }

#display_wrap { width: 100%; height: 100%; background: #0f0; }
#display_wrap .user_wrap { height: 100%; display: inline-flex; flex-direction: row; }
