@mixin user_wrap_width($class_number)
  .user_wrap
    width: (100%/$class_number)
.first
  @include user_wrap_width(1)
.second
  @include user_wrap_width(1)
#display_wrap
  width: 100%
  background: #0f0
  .user_wrap
    display: inline-flex
    flex-direction: row
